<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
	<hibernate-configuration>
		<session-factory>
		<property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
		<property name="connection.url">jdbc:derby:jSpentDB;create=true</property>

		<property name="connection.username">dbuser</property>
		<property name="connection.password">dbuser</property>
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.DerbyDialect</property>

        <property name="hibernate.hbm2ddl.auto">create</property>
		<property name="current_session_context_class">thread</property>
		<mapping resource="expense.hbm.xml"/>		
		</session-factory>
	</hibernate-configuration>